<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<classPathEntry location="C:\Users\Kazufumi\.m2\repository\mysql\mysql-connector-java\5.1.35\mysql-connector-java-5.1.35.jar" />
	<context id="context1">
		<plugin type="org.mybatis.generator.plugins.ToStringPlugin"></plugin>
		<plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"></plugin>
		<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin" >
			<property name="searchString" value="Example$"/>
			<property name="replaceString" value="Criteria"/>
		</plugin>
		<jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/wp_xvideos" userId="wordpress" password="password" />
		<javaModelGenerator targetPackage="com.example.model.wp" targetProject="wp-updater">
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<sqlMapGenerator targetPackage="sqlmap" targetProject="wp-updater/src/main/resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		<javaClientGenerator targetPackage="com.example.mapper" targetProject="wp-updater" type="XMLMAPPER" />

		<table tableName="wp_postmeta"></table>
		<table tableName="wp_posts"></table>
		<table tableName="wp_term_relationships"></table>
		<table tableName="wp_term_taxonomy"></table>
		<table tableName="wp_terms"></table>

	</context>
</generatorConfiguration>